@model KR.Models.GivBoock

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GivBoock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivBook.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateGiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateGiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivDateReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivDateReturn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GivBoockId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
