@model IEnumerable<KR.Models.Book>
@{
    ViewData["Title"] = "Библиотека";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<a asp-action="Index" class="btn btn-success" asp-route-sortState="@ViewBag.DataCteateSort">Сортировать по дате</a>


<partial name="_pager" model="@pager" />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img class="imgDetals2" src="@Url.Content(item.ImgUrl)">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h5 class="card-title">Автор: @item.Author</h5>
                    <h5 class="card-title">Статус: @item.State</h5>
                    <div class="btn-group">
                        <div class="btn-group dropstart" role="group">
                        </div>
                        <p type="button" class="btn">
                    </div>
                    <div class="pkms">
                        <a asp-controller="Users" asp-for="BookId" asp-action="LCabinet" asp-route-Id="@item.Id" class="btn btn-success">Получить</a>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
